/* h2 {
   font-size: 25px;
   margin: 15px 0;
   color: orange;
   text-transform: uppercase;
} */

.contact_h2 {
   padding-top: 150px;
   text-align: center;
   /* font-size: 20px; */
}

.wp_osm {
   width: 100%;
   position: relative;
}

.olMapViewport {
   position: relative;
   z-index: 0;
}

.content {
   position: relative;
   margin-top: 50px;
}

.contact {
   position: absolute;
   top: 0;
   right: 0;
   width: 30%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.808);
   z-index: 1;
}


.coaches {
   display: flex;
   justify-content: space-around;
   margin-top: 80px;
   text-align: center;
   /* align-items: baseline; */
}

.coaches h3 {
   margin: 19px 0 0 0;
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #000;
}

.coaches p {
   margin: 19px 0;
   color: #000;
   font-size: 18px;
   line-height: 28px;
}

.coaches h3::after {
   content: "";
   position: relative;
   display: block;
   width: 65px;
   height: 3px;
   background-color: #ff0000;
   left: 50%;
   margin-top: 19px;
   transform: translateX(-50%);
}

.coaches .coach-img {
   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
   width: 250px;
   height: 250px;
   margin: 0 auto;
}

.coach_1,
.coach_2 {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 40%;
   height: auto;
}

.coach_1 p,
.coach_2 p {
   margin-bottom: 20px;
}

.row,
.number,
.email {
   display: flex;
}

.coach_contact {
   margin-top: auto;
}

.row {
   justify-content: space-between;
   flex-wrap: wrap;
}

.row img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.number,
.email {
   align-items: center;
}

.contact {
   box-sizing: border-box;
   padding: 30px 0 0 15px;
}

.contact h3 {
   font-size: 30px;
   text-align: center;
   color: #fff;
   margin-bottom: 10px;

}

.contact h3:after {
   content: '';
   display: block;
   width: 100px;
   height: 2px;
   margin: 10px auto 0;
   background-color: #bf4141;

}

.contact p {
   color: #bf4141;
   font-size: 22px;
   line-height: 50px;
}

.contact span {
   color: #fff;
   font-size: 23px;
   text-transform: uppercase;
}