/* h2 {
   font-size: 25px;
   margin: 15px 0;
   color: orange;
   text-transform: uppercase;
} */

.contact_h2 {
   padding-top: 200px;
}

.wp_osm {
   width: 100%;
   position: relative;
}

.olMapViewport {
   position: relative;
   z-index: 0;
}

.content {
   position: relative;
}

.contact {
   position: absolute;
   top: 0;
   right: 0;
   width: 30%;
   height: 100%;
   opacity: .7;
   background-color: #000;
   z-index: 1;
}

.widgettitle {
   font-size: 25px;
   color: red;
}

.textwidget {
   margin: 0 10px;
   font-size: 20px;
   color: #fff;
}

.textwidget p {
   font-size: 20px;
   color: #fff;
}

.coaches {
   display: flex;
   justify-content: space-around;
   text-align: center;
   /* align-items: baseline; */
}

.coaches h3 {
   margin: 19px 0 0 0;
   font-size: 20px;
   text-transform: uppercase;
   color: green;
}

.coaches p {
   margin: 19px 0;
   font-size: 18px;
   line-height: 28px;
   color: #000;
}

.coaches h3::after {
   content: "";
   position: relative;
   display: block;
   width: 33px;
   height: 3px;
   background-color: #3dc9b3;
   left: 50%;
   margin-top: 19px;
   transform: translateX(-50%);
}

.coaches .coach-img {
   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
   width: 250px;
   height: 250px;
   margin: 0 auto;
}

.coach_1,
.coach_2 {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 40%;
   height: auto;
}

.coach_1 p,
.coach_2 p {
   margin-bottom: 20px;
}

.row,
.number,
.email {
   display: flex;
}

.coach_contact {
   margin-top: auto;
}

.row {
   justify-content: space-between;
   flex-wrap: wrap;
}

.row img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.number,
.email {
   align-items: center;
}