.blog_h2 {
   margin-top: 150px;
   text-align: center;
}

.news h3 {
   margin-top: 20px;
   text-align: center;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 2px;
}

.news h3:after {
   content: '';
   display: block;
   width: 100px;
   height: 2px;
   margin: 10px auto 0;
   background-color: #f00;

}

.news span {
   margin: 20px 0;
   text-align: center;
   font-size: 16px;
   padding: 0 15px;
}

.news {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   width: 100%;

   min-height: calc(100vh - 328px);
   padding-top: 50px;
}

main .item {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30.3%;
   height: 425px;
   margin-bottom: 30px;
   margin: 0 1.5% 30px;

   /* border: 1px solid #000; */
   border-radius: 25px;
   box-shadow: 1px 1px 3px 0px #6f1313;

}

main .item a {
   position: relative;
   display: block;
   width: 100%;
   height: 300px;
   border-radius: 25px 25px 0 0;
}

main .item a:hover .item_hover {
   opacity: 0.7;
   transition: opacity 0.4s ease;
   border-radius: 25px 25px 0 0;
}

main .item img {
   width: 100%;
   height: 100%;
   border-radius: 25px 25px 0 0;
}

.item_hover {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1f1d1d;
   opacity: 0;
   transition: opacity .4s ease;
   width: 100%;
   height: 100%;
   top: 50%;
   left: 0;
   border-radius: 25px 25px 0 0;
   text-align: center;
   transform: translateY(-50%);
}

.item_hover .hover-img {
   height: 35px;
   width: 35px;
}

.item_hover p {
   margin-top: 17px;
   font-size: 20px;
   color: #fff;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.item h2 {
   font-size: 20px;
   font-style: italic;
   text-align: center;
   margin: 20px 0;
}

.navigation {
   display: flex;
   margin: 30px 0;
   justify-content: center;
}


.page-numbers {
   box-sizing: border-box;
   display: flex;
   padding: 10px 20px;
   text-decoration: none;
   border: 1px solid #884d4d;
   color: #fff;
   background-color: #000;
   transition: opacity all 0.4s;
}

.navigation a:hover {
   opacity: 0.7;
}

.current {
   background-color: #fff;
   color: #000;
}